<% layout("/layouts/boilerplate.ejs") -%>

<div>
    <form class="d-flex col-4 offset-4 mt-5" role="search" action="/patient/show">
        <input class="form-control me-2" type="search"  name="id" placeholder="Enter Patient Id" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>  
      
</div>

<!-- not used now -->