<% layout("/layouts/boilerplate.ejs") -%>

<div style="margin-top: 5rem;" class="row">
    <div class="card col-6 offset-2" style="text-align: center;">
        <div class="card-body">
          <h5 class="card-title">Patient Portal</h5>
          <p class="card-text">Create and Show Patient Details</p>
        </div>
        <div class="card-body">
          <a href="/patient" id="patientBtn"   class="btn btn-primary" >Patient Portal</a>
        </div>
    </div>
    <div class="card col-6 offset-2 mt-5" style="text-align: center;">
        <div class="card-body">
          <h5 class="card-title">Medical Shop Portal</h5>
        </div>
        <div class="card-body">
          <a href="/prescription" class="btn btn-primary">Show Prescription Details</a>
        </div>
    </div>
</div>

<script>
  let patientBtn = document.getElementById('patientBtn');
  patientBtn.addEventListener('click', (e) => {
    e.preventDefault();
    window.alert("Scan Your RFID Card to get the Patient Details.")
    window.location.href = "/patient";
  });
</script>