<% layout("/layouts/boilerplate.ejs") -%>

<div>
    <form class="d-flex col-4 offset-4 mt-5" role="search" action="/prescription/show">
        <input class="form-control me-2" type="search"  name="id" placeholder="Enter Prescription Id" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>  
      <form action="/prescription/latest" class="d-flex col-4 offset-4 mt-5">
        <button   id="latestPrescriptionBtn"  class="btn btn-outline-primary">Show latest Prescription</button>
      </form>
</div>

<script>
  let latestPrescriptionBtn=document.getElementById('latestPrescriptionBtn');
  latestPrescriptionBtn.addEventListener('click',(e)=>{
    e.preventDefault();
    window.alert("Scan Your Rfid Tag to get latest Prescription");
    window.location.href="/prescription/latest";
  });
</script>